<div class="container justify-content-center mt-16">
  <h1>Coaching</h1>

  <form action="/answer" data-turbo="false">
    <input type="text" name="question" class="form-control mb-3" placeholder="Ask something to your couch">
    <input type="submit" value="Ask!" class="btn btn-primary">
  </form>
</div>
